Temp/__Backupscenes/0.backup
.git/objects/17/tmp_obj_cAWUGa
.git/objects/72/34e1b3764a8afddbb32b6cebd01e533fb92e0b
Assets/Scenes/Windridge City Demo Scene/OcclusionCullingData.asset
Assets/Scenes/Windridge City Demo Scene/LightingData.asset
Assets/Scenes/Windridge City Demo Scene.unity
Assets/Windridge City Assets/CTS Trial/Arrays/CTS_Profile_180813-1204_Albedos.asset
Assets/NatureManufacture Assets - Trials Not Full Resolution/EasyRoads-HD_Add_ON/Road Textures/T_Array_Roads_N.asset
Assets/NatureManufacture Assets - Trials Not Full Resolution/EasyRoads-HD_Add_ON/Road Textures/T_Array_Roads_A_T.asset
Assets/NatureManufacture Assets - Trials Not Full Resolution/EasyRoads-HD_Add_ON/Road Textures/T_Array_Roads_MT_AO_H_SM.asset
Library/CrashedAssetImports.txt
